@model Lab1_MLS.Models.PlayerModel

@{
    ViewData["Title"] = "Import File";
}

<h1>Import File</h1>

<h4>Player Register</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Import_File">
            <label for="avatar">Upload players file</label>
            <input type="file" name="uploaded"/>
            <input type="submit" value="Import List" class="btn btn-primary" />
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
