@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Handcrafted"class="btn-primary btn btn-lg">Use the Handcrafted List Mode</a>
    <a asp-action="CsharpList" class="btn-primary btn btn-lg">Use the .NET List Mode</a>
</div>
